.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
.DS_Store
*/.DS_Store
lecture_02/output/*
lecture_02/long_contigs.fasta
lecture_09/tmp.html
lecture_14/tmp.html

